---
import Layout from '../layouts/Layout.astro';
import SearchContainer from '../components/SearchContainer';
import information from '../data/information.json';
---

<Layout title="Home">
  <h1 class="text-3xl font-bold mb-4">Welcome to DocsGo</h1>
  <SearchContainer client:load data={information} />
</Layout>
