---
import Header from '../components/Header.jsx';
import Footer from '../components/Footer.jsx';
import "../styles/global.css";

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title} - DocsGo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-gray-100">
    <Header />
    <main class="container mx-auto p-4">
      <slot /> <!-- Page-specific content goes here -->
    </main>
    <Footer />
  </body>
</html>
